body  {background:white url('images/apsru_tile.jpg') repeat-y left top;
       font-family : Verdana, Arial, Helvetica, sans-serif;
	    font-size : 9pt;
	    color : black;
       padding-left: 70px;
       text-align:left}
p  {font-family : Verdana, Arial, Helvetica, sans-serif;
	 font-size : 9pt;
	 color : black;}

table  {font-family : Verdana, Arial, Helvetica, sans-serif;
	     font-size : 9pt;
	     color : black;}
h1 {
       font-family : Verdana, Arial, Helvetica, sans-serif;
	    font-size : 11pt;
	    color : SteelBlue;
	    text-align: left}

h2 {
       font-family : Verdana, Arial, Helvetica, sans-serif;
	    font-size : 9pt;
	    margin-top: 50px;
	    border-color: SteelBlue;
	    border-bottom-style: inset;
	    color : Black;
	    text-align: left;
	    font-weight: bold;}

.menu {background-color: SkyBlue;
       font-family : Verdana, Arial, Helvetica, sans-serif;
	    font-size : 9pt;
	    color : black;
	    width : 100%;
       margin-bottom: 20px}
.newsdate  {font-family : Verdana, Arial, Helvetica, sans-serif;
	 font-size : 7pt;
	 color : blue;}
