BODY  {
	background-color : #FFFFFF;
	font-family : Verdana, Arial, Helvetica, sans-serif;
	font-size : 9pt;
	color : #000000;
    padding-left: 70px;
    background-position: top left;
    background-attachment: scroll;
    background-repeat: repeat-y;
    background-image: url('../images/apsru_tile.jpg');
	}
P  {
	font-family : Verdana, Arial, Helvetica, sans-serif;
	font-size : 9pt;
	color : #000000;}
.date  {
	font-family : Verdana, Arial, Helvetica, sans-serif;
	font-size : 8pt;
	color : #000000;}
.footnote  {
	font-family : Verdana, Arial, Helvetica, sans-serif;
	font-size : 7pt;
	color : #999999;}
.location  {
	font-family : Verdana, Arial, Helvetica, sans-serif;
	font-size : 8pt;
	color : #FF6600;}
.navigation  {
	font-family : Verdana, Arial, Helvetica, sans-serif;
	font-size : 8pt;
	color : #000000;}
.newsevent  {
	font-family : Comic Sans MS;
	font-size : 10pt;
	font-weight : bold;
	color : #000000;}
.newseventdate  {
	font-family : Comic Sans MS;
	font-size : 8pt;
	color : #000000;}
.pageheader  {
	font-family : Arial;
	font-size : 16pt;
	color : #00376F;}
.subtext {
        text-indent : 2em;}
.smalltextcaps  {
	font-family : Verdana, Arial, Helvetica, sans-serif;
	font-size : 7pt;
	color : #999999;
	text-transform: uppercase;}
.title  {
	font-family : Verdana, Arial, Helvetica, sans-serif;
	font-weight : bold;
	font-size : 12pt;
	color : #00376F;}
.subtitle  {
	font-family : Verdana, Arial, Helvetica, sans-serif;
	font-weight : bold;
	font-size : 10pt;
	color : #00376F;}
.subsection  {
	font-family : Verdana, Arial, Helvetica, sans-serif;
	font-weight : bold;
	font-size : 8pt;
	color : #00376F;}
.section {
	font-family : Arial, Helvetica, sans-serif;
	font-size : 14pt;
	color : #00376F;}
.text  {
	font-family : Verdana, Arial, Helvetica, sans-serif;
	font-size : 9pt;
	color : #000000;}
.mousetype  {
	font-family : Arial, Helvetica, sans-serif;
	font-size : 8pt;
	color : #000000;}
.fieldheader  {
	font-family : Verdana, Arial, Helvetica, sans-serif;
	font-size : 8pt;
	color : #000000;}
.fielddata  {
	font-family : Verdana, Arial, Helvetica, sans-serif;
	font-size : 9pt;
	position: relative;
	background-color=rgb(211,225,242);
	color : #000000;
	border-top-style: solid; border-top-width: 1px; border-top-color: #000000;
	border-right-style: solid; border-right-width: 1px; border-right-color: #000000;
	border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000;
	border-left-style: solid; border-left-width: 1px; border-left-color: #000000;}
.editdata  {
	font-family : Verdana, Arial, Helvetica, sans-serif;
	font-size : 9pt;
	position: relative;
	width: 100%;
	background-color=rgb(244,232,164);
	color : #000000;
	border-top-style: solid; border-top-width: 1px; border-top-color: #000000;
	border-right-style: solid; border-right-width: 1px; border-right-color: #000000;
	border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000;
	border-left-style: solid; border-left-width: 1px; border-left-color: #000000;}
.deldata  {
	font-family : Verdana, Arial, Helvetica, sans-serif;
	font-size : 9pt;
	position: relative;
	width: 100%;
	background-color=rgb(200,200,200);
	color : #000000;
	border-top-style: solid; border-top-width: 1px; border-top-color: #000000;
	border-right-style: solid; border-right-width: 1px; border-right-color: #000000;
	border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000;
	border-left-style: solid; border-left-width: 1px; border-left-color: #000000;}


UL  {
	font-family : Verdana, Arial, Helvetica, sans-serif;
	font-size : 9pt;
	color : #000000;}
ADDRESS  {
	font-family : Arial, Helvetica, sans-serif;
	font-style : italic;
	font-size : 10pt;
	color : #000000;}
A:Link  {
	text-decoration : none;
	color : #0000AA;}
A:Visited  {
	text-decoration : none;
	color : #0000AA;}
A:Active  {
	text-decoration : none;
	color : #000099;}
A:Hover  {
	text-decoration : none;
	color : red;}