<soils><Soil name="">
  <Water><DiffusConst>0</DiffusConst><DiffusSlope>0</DiffusSlope><Cn2Bare>0</Cn2Bare><CnRed>0</CnRed><CnCov>0</CnCov><Salb>0</Salb><Cona>0</Cona><U>0</U><layer name="1"><thickness>100</thickness><airdry>0</airdry><ll15>0</ll15><dul>0</dul><sat>0</sat><sw>0</sw><swcon>0</swcon><bd>0</bd></layer></Water>
  <Nitrogen><RootCn>0</RootCn><RootWt>0</RootWt><SoilCn>0</SoilCn><EnrACoeff>0</EnrACoeff><EnrBCoeff>0</EnrBCoeff><layer name="1"><oc>0</oc><ph>0</ph><fbiom>0</fbiom><finert>0</finert><no3>0</no3><nh4>0</nh4></layer></Nitrogen>
<Region> </Region><Site> </Site><LocalName> </LocalName><SoilType> </SoilType></Soil></soils>