.pagetext {
	font-family: arial;
	font-size: 12px;
	font-weight: bold;
	color: #FFFFFF;
}
.pagetitle {
	font-family: arial;
	font-size: 16px;
	font-weight: bold;
	color: #FFFF00;
}
A {
	FONT-WEIGHT: bold;
	COLOR: white;
	font-size: 12px;
	font-family: Arial;
}

A:link {
	COLOR: yellow;
	TEXT-DECORATION: none;
	font-family: Arial;
	font-size: 12px;
	font-weight: bold;
}

A:visited {
	COLOR: #FFFF00;
	TEXT-DECORATION: none;
	font-family: Arial;
	font-size: 12px;
	font-weight: bold;
}

A:hover {
	COLOR: #FFFF00;
	TEXT-DECORATION: underline;
	font-family: Arial;
	font-size: 12px;
	font-weight: bold;
}
.BODY {
	background-color: #04019A;
}
.codetext {
	font-family: "Courier New";
	font-size: 10px;
	color: #333333;
}
.BODY {
}
